@inject GameState GameState
@inject GameEngine GameEngine
@implements IDisposable

<h3>Producers</h3>

<div class="producer-list">
    @foreach (var producerDef in GameDefinitions.ProducerDefinitions)
    {
        <ProducerItem Producer="producerDef" />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        // Subscribe to game updates to refresh the display
        GameEngine.OnGameUpdate += StateHasChanged;
    }

    public void Dispose()
    {
        // Unsubscribe from the game update event
        GameEngine.OnGameUpdate -= StateHasChanged;
    }
}